@media screen and (max-width: 990px) {
  .navbar-brand figure {
    height: 45px;
    width: auto;
  }

  .title-center{
    margin-bottom: 4rem;
  }

  .banner__conteudo h1 {
    font-size: 3.5rem;
  }

  .banner__conteudo p {
    font-weight: 300;
    font-size: 1.25rem;
  }

  .banner figure::after {
    bottom: 70%;
    left: -6rem;
  }

  #beneficios .title-center{
    margin-bottom: 6rem;
  }

  .sobre-bg {
    margin-top: 2em;
    padding: 1em 1em;
  }

  .sobre-bg .title-primary {
    margin-bottom: 1rem;
  }

  .header-contatos {
    display: none;
  }
  .navbar-brand {
    width: 100%;
    text-align: center;
  }
  .sobre {
    padding: 3rem 0;
  }

  .sobre .header-sobre .title-primary {
    margin-bottom: 2rem;
  }

  .title-border:after {
    margin-bottom: 1rem;
  }

  .banner .title-primary,
  .sobre .title-primary,
  .contato-msg .title-primary {
    text-align: left;
  }

  #especialidade {
    background-size: 0%;
    background-color: #333a4d;
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
    margin-top: 0em;
    padding: 5em 0 5em 0;
  }

  /* .biografia {
    padding: 3rem 0;
  }
  .biografia .title-border:after {
    margin: 0 auto;
    margin-bottom: 1em;
  }

  }
  .biografia figure img {
    width: 100%;
  } */

  .biografia .title-primary {
    margin-bottom: 3rem;
  }

  .biografia .title-border:after{
    margin: 0 auto;
  }

  .biografia figure {
    max-height: 400px;
  }


  footer .logo-footer{
    height: 100px;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev,
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    display: none;
    top: var(--swiper-pagination-top, auto);
    right: 0;
    width: 100%;
    justify-content: flex-end;
  }


  .beneficios {
    padding: 3rem 0;
  }

  #beneficios .curriculo .card-body {
    padding: 1rem 0 2rem;
  }

  #beneficios .curriculo .card-body figure {
    margin-top: -3rem;
  }

  #beneficios .curriculo .curriculo__inner--card.curriculo__valores h3 {
    font-size: 2rem;
  }

  .beneficios .curriculo__valores--inner {
    flex-direction: column;
    gap: 1rem;
  }

  .beneficios .beneficios__list {
    margin-top: 2rem;
  }

  .beneficios__button--wrapper a {
    font-size: 1.1rem;
  }

  .modalEvent{
    --modal-event-image-height: 300px;
  }

  .modalEvent .modal-body{
    padding: 1rem;
  }

  .modal__event--slides--wrapper{
    padding: 0;
  }

  .swiper__event--buttons{
    top: unset;
    transform: unset;
    bottom: 0;
  }

  .modal__event--content{
    margin-top: 3rem;
  }

  .swiper-modal-event-button-next, .swiper-modal-event-button-prev{
    height: 50px;
    width: 50px;
  }
}
@media screen and (max-width: 767px) {

  .banner {
    height: auto;
    padding: 1rem 0;
  }

  .banner > .container > .row{
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .banner figure {
    height: 250px;
  }

  .banner figure img{
    object-position: 0px -40px;
  }

  .title-primary {
    text-align: center;
    font-size: 2rem;
  }

 
}
